.video{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 0.8;
    margin-top: 0;
    top:0;
    left: 0;
}
.margin{
    margin-top: 150px;
    padding: 50px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    position: absolute;
    z-index: 0;
    background-color: rgb(53, 52, 52);
}
.pages{
    width: 100%;
    height: 640px;
    background-color: rgb(53, 52, 52);

   
}
